@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Open Sans', sans-serif;
}

@layer base {
  .revert-list ul, .revert-list ol {
    list-style: revert;
    padding-left: 1.2rem;
    margin-top: .5rem;
  }

  .revert-list li {
    padding-left: .5rem;
    margin-bottom: .3rem;
  }
}

:target::before {
  content: "";
  display: block;
  height: 100px; /* adjust the value to match the height of the navbar */
  margin: -100px 0 0; /* negative margin to offset the padding */
}