@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
  
  html, body {
    scroll-behavior: smooth;
  }

  #projects::before,
  .content h2::before,
  .content h3::before {
      content: "";
      display: block;
      height: 60px;
      margin: -60px 0 0;
  }  
  
  .content ul, .content ol {
    list-style: revert;
    padding-left: 1.2rem;
    margin-top: .5rem;
  }

  .content li {
    margin-bottom: .3rem;
  }

  .content h1 {
    font-size: 34px;
    font-weight: bold;
  }
  .content h2 {
    font-size: 30px;
    font-weight: bold;
  }
  .content h3 {
    font-size: 24px;
    font-weight: bold;
  }
  .content h4 {
    font-size: 20px;
    font-weight: bold;
  }
  .content h5 {
    font-size: 18px;
    font-weight: bold;
  }
  .content h6 {
    font-size: 16px;
    font-weight: bold;
  }

  .dropdown-above {
    bottom: calc(100% + 0.5rem);
    top: auto !important;
  }

  #tableOfContents ul li ul li {
    margin-top: .5rem;
    margin-left: .7rem;
  }

  #tableOfContents button, #scrollTopLink {
    cursor: pointer;
    text-align: left;
  }

  #tableOfContents li {
    margin-bottom: .5rem;
  }

  #tableOfContents button.active {
    font-weight: bolder;
    font-size: .9rem;
  }

  pre {
    margin: 1rem 0;
  }

  pre > code {
    border: 2px solid rgb(23, 26, 30);
    border-radius: 10px;
    font-family: 'Source Code Pro', monospace;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}