@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

  @font-face {
    font-family: "GT Walsheim Pro";
    src: url('../../public/assets/font/GTWalsheimPro-Regular.ttf');
  }

  @font-face {
    font-family: "GT Walsheim Pro";
    src: url('../../public/assets/font/GTWalsheimPro-Bold.ttf');
    font-weight: bold;
  }
  
  html, body {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(127, 127, 147, 1);
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(127, 127, 147, .7);
  }
  
  #projects::before {
    content: "";
      display: block;
      height: 65px;
      margin: -40px 0 0;
  }

  .content h1::before,
  .content h2::before {
      content: "";
      display: block;
      height: 65px;
      margin: -65px 0 0;
  }

  .content a {
    color: rgb(133, 31, 230);
    text-decoration: none;
    font-weight: bold;
  }

  .content a:hover {
    text-decoration: underline;
  }
  
  .content ul {
    list-style: revert;
    list-style-position: outside;
    padding-left: 1rem;
  }

  .content ol {
    list-style: revert;
    list-style-position: inside;
  }

  .content li {
    margin-bottom: .3rem;
  }

  .content h1 {
    font-size: 34px;
    font-weight: bold;
  }
  .content h2 {
    font-size: 30px;
    font-weight: bold;
  }
  .content h3 {
    font-size: 24px;
    font-weight: bold;
  }
  .content h4 {
    font-size: 20px;
    font-weight: bold;
  }
  .content h5 {
    font-size: 18px;
    font-weight: bold;
  }
  .content h6 {
    font-size: 16px;
    font-weight: bold;
  }

  .dropdown-above {
    bottom: calc(100% + 0.5rem);
    top: auto !important;
  }

  .toc-body ul li ul li {
    margin-top: .5rem;
    margin-left: .7rem;
  }

  .toc-body button, #scrollTopLink {
    cursor: pointer;
    text-align: left;
  }

  .toc-body li {
    margin-bottom: .5rem;
  }

  .toc-body button.active {
    font-weight: bolder;
    font-size: .9rem;
  }

  pre {
    margin: 1rem 0;
  }

  pre > code {
    border: 2px solid rgb(23, 26, 30);
    border-radius: 10px;
    font-family: 'Source Code Pro', monospace;
  }

  .comment-body img {
    border-radius: 8px;
    height: 200px;
  }
}